body{
    margin: 0;
    padding: 0; 
}
.ex-color{
    
    background-color: rgb(225, 249, 255); 
    padding: 20px;
    text-align: center;
    display: inline-flex;
    width: 100%;
}
.colors-title{
    margin: 5px;
    padding: 10px;
    width: 20%;
}
.colors{
    padding: 10px;
    margin: 5px;
    width: 80%;
    justify-content: left;
    display: inline-flex;
}

.co-title{
}

.ex-co{
    padding: 5px
}

.color-block{
    margin: 5px;
    width: 100px;
    height: 100px;
}



.color-red{
    background-color: #B4262A;
}.color-red2{
    background-color: #D32126;
}
.color-white{
    background-color: #FFFFFF;
}
.color-gray{
    background-color: #CECECE;
}
.color-black{
    background-color: #000000;
}