body{
    margin: 0;
    padding: 0; 
}
.ex-color{
    padding: 20px;
    text-align: center;
    display: inline-flex;
    width: 100%;
}
.colors-title{
    margin: 5px;
    padding: 10px;
    background-color: rgb(225, 249, 255); 
    width: 20%;
}
.colors{
    padding: 10px;
    margin: 5px;
    width: 80%;
    background-color: hsla(0, 0%, 96%, 0.863);
    justify-content: left;
    display: inline-flex;
}

.co-title{
}


.color-block{
    margin: 5px;
    width: 100px;
    height: 100px;
}



.color-red{
    background-color: red;
}
.color-white{
    background-color: white;
}
.color-gray{
    background-color: gray;
}
.color-black{
    background-color: black;
}